function Math.multiply 5
push constant 0
pop local 0
push argument 0
pop local 1
push argument 1
pop local 2
push constant 0
pop local 3

push local 1
push constant 0
lt
if-goto MATH$MUL_NEG_A
goto MATH$MUL_CHECK_B
label MATH$MUL_NEG_A
push local 1
neg
pop local 1
push constant 1
push local 3
sub
pop local 3

label MATH$MUL_CHECK_B
push local 2
push constant 0
lt
if-goto MATH$MUL_NEG_B
goto MATH$MUL_LOOP
label MATH$MUL_NEG_B
push local 2
neg
pop local 2
push constant 1
push local 3
sub
pop local 3

push local 2
push local 1
gt
if-goto MATH$MUL_SWAP
goto MATH$MUL_LOOP
label MATH$MUL_SWAP
push local 1
pop local 4
push local 2
pop local 1
push local 4
pop local 2

label MATH$MUL_LOOP
push local 2
push constant 0
gt
if-goto MATH$MUL_BODY
goto MATH$MUL_END
label MATH$MUL_BODY
push local 0
push local 1
add
pop local 0
push local 2
push constant 1
sub
pop local 2
goto MATH$MUL_LOOP

label MATH$MUL_END
push local 3
push constant 0
eq
if-goto MATH$MUL_POS
push local 0
neg
return
label MATH$MUL_POS
push local 0
return

function Math.divide 4
push argument 1
push constant 0
eq
if-goto MATH$DIV_ZERO

push constant 0
pop local 0
push argument 0
pop local 1
push argument 1
pop local 2
push constant 0
pop local 3

push local 1
push constant 0
lt
if-goto MATH$DIV_NEG_A
goto MATH$DIV_CHECK_B
label MATH$DIV_NEG_A
push local 1
neg
pop local 1
push constant 1
push local 3
sub
pop local 3

label MATH$DIV_CHECK_B
push local 2
push constant 0
lt
if-goto MATH$DIV_NEG_B
goto MATH$DIV_LOOP
label MATH$DIV_NEG_B
push local 2
neg
pop local 2
push constant 1
push local 3
sub
pop local 3

label MATH$DIV_LOOP
push local 1
push local 2
lt
if-goto MATH$DIV_END
push local 1
push local 2
sub
pop local 1
push local 0
push constant 1
add
pop local 0
goto MATH$DIV_LOOP

label MATH$DIV_END
push local 3
push constant 0
eq
if-goto MATH$DIV_POS
push local 0
neg
return
label MATH$DIV_POS
push local 0
return

label MATH$DIV_ZERO
push constant 0
return
